<ion-app>
  <ion-content>
    <section class="qr-section">
      <div class="img-qr">
        <img src="assets/qr.png" (click)="goSelectTicket()">
      </div>
    </section>

    <section class="footer">
      <div class="circle-footer">
        <img class="img-scan" src="assets/scan.png">
      </div>
      <div class="footer-ele">
        <ion-icon name="bookmarks-outline"></ion-icon>
        <img class="img-money" src="assets/money.png">
      </div>
    </section>
  </ion-content>
</ion-app>