.header {
    display: flex;
    color: #eb445a;
}

.title {
    text-align: center;
    transform: translateX(-8%);
}

ion-back-button{
    color: #eb445a;
}

.top-content {
    display: flex;
    height: 100px;
}

.top-left {
    display: flex;
    align-items: center;
}

.numOfTicket {
    position: absolute;
    width: 100px;
    margin-left: 20px;
    transform: translateY(-50%);
    font-weight: bold;
}

.top-right {
    right: 5%;
    position: absolute;
    margin-top: 8%;
}

.DrawDate {
    display: flex;
}

.time {
    position: absolute;
    right: 0px;
}

.ticketSection {
    width: 95%;
}

.ticket-box {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 4%;
}

.ticketNumber {
    margin-right: 10px;
}

.editBtn {
    position: absolute;
    bottom: 8%;
    right: 0%;
    color: blue;
}

.ball1 {
    position: absolute;
    left: 15%;
    bottom: 25%;
}

.ball2 {
    position: absolute;
    left: 26%;
    bottom: 25%;
}

.ball3 {
    position: absolute;
    left: 37%;
    bottom: 25%;
}

.ball4 {
    position: absolute;
    left: 48%;
    bottom: 25%;
}

.ball5 {
    position: absolute;
    left: 59%;
    bottom: 25%;
}

.ball6 {
    position: absolute;
    left: 70%;
    bottom: 25%;
}

.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ff3434;
}

.orderBtn {
    color: white;
    width: 100%;
    height: 100%;
}